<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/3.3.0/build/cssgrids/grids-min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/vendor/prettify/prettify-min.css">
    <script src="http://yui.yahooapis.com/combo?3.3.0/build/yui/yui-min.js&amp;3.3.0/build/loader/loader-min.js"></script>
</head>
<body>

<div id="doc">
    <h1>{{title}}</h1>

    <div class="yui3-g">
        <div id="main" class="yui3-u">
            <div class="content">{{>layout_content}}</div>
        </div>

        <div id="sidebar" class="yui3-u">
            {{^hideTableOfContents}}
                <div id="toc" class="sidebox">
                    <div class="hd">
                        <h2 class="no-toc">Table of Contents</h2>
                    </div>

                    <div class="bd">
                        {{toc}}
                    </div>
                </div>
            {{/hideTableOfContents}}
        </div>
    </div>
</div>

<script src="../assets/vendor/prettify/prettify-min.js"></script>
<script>prettyPrint();</script>

</body>
</html>
